/*header*/
.firstbg {
  background-size: cover;
  height: 400px;
  position: relative;
  color: #dfba28;
}

 /*footer*/
.lastbg {
  background: url('BACKGROUNDS/panel6.png') no-repeat center; 
  background-size: cover;
  height: 400px;
  position: relative;
  color: #e9eeee;
  font-size: 20px;
}

.panel4 {
  background: url('BACKGROUNDS/panel4.gif') no-repeat center; 
  background-size: cover;
  height: 800px;
  position: relative;
  color: #dfba28;
}

.panel5th {
  background: url('BACKGROUNDS/panel5.gif') no-repeat center; 
  background-size: cover;
  height: 800px;
  position: relative;
  color: #dfba28;
}


/*info vid/ commercial*/
.panelinfovid {
  background: url('BACKGROUNDS/infovid1.png') no-repeat center; 
  background-size: cover;
  height: 800px;
  position: relative;
}


/*general white panel*/
.panel5 {
  background: url('BACKGROUNDS/panel5.png') no-repeat center; 
  background-size: cover;
  height: 800px;
  position: relative;
}

.panel3 {
  background: url('BACKGROUNDS/panel3.png') no-repeat center; 
  background-size: cover;
  height: 800px;
  position: relative;
}


/*WHAT IS ALGORITHM*/
.panelLearn12 {
  background: url('BACKGROUNDS/panelLEARN1 (1).png') no-repeat center; 
  background-size: cover;
  height: 800px;
  position: relative;
}

.panelLearn13 {
  background: url('BACKGROUNDS/panelLEARN1 (2).png') no-repeat center; 
  background-size: cover;
  height: 800px;
  position: relative;
}

.panelLearn14 {
  background: url('BACKGROUNDS/panelLEARN1 (3).png') no-repeat center; 
  background-size: cover;
  height: 800px;
  position: relative;
}

.panelLearn15 {
  background: url('BACKGROUNDS/panelLEARN1 (4).png') no-repeat center; 
  background-size: cover;
  height: 800px;
  position: relative;
}


/*general white panel*/
.LEARNpanel {
  background: url('BACKGROUNDS/LEARNPANEL.gif') no-repeat center; 
  background-size: cover;
  height: 800px;
  position: relative;
}

.LEARNpanel1 {
  background: url('BACKGROUNDS/LEARNPANEL1.png') no-repeat center; 
  background-size: cover;
  height: 800px;
  position: relative;
}

.LEARNpanel2 {
  background: url('BACKGROUNDS/LEARNPANEL2.png') no-repeat center; 
  background-size: cover;
  height: 800px;
  position: relative;
}

.LEARNpanel3 {
  background: url('BACKGROUNDS/LEARNPANEL3.png') no-repeat center; 
  background-size: cover;
  height: 800px;
  position: relative;
}




.panellearn1 {
  background: url('BACKGROUNDS/panellearn1.png');
  background-size: cover;
  height: 650px;
  position: relative;
}

.panellearn2 {
  background: url('BACKGROUNDS/panellearn2.png');
  background-size: cover;
  height: 650px;
  position: relative;
}

.panellearn3 {
  background: url('BACKGROUNDS/panellearn3.png');
  background-size: cover;
  height: 700px;
  position: relative;
}

.panellearn4 {
  background: url('BACKGROUNDS/panellearn4.png');
  background-size: cover;
  height: 700px;
  position: relative;
}



/* CHARACTERISTICS OF AN ALGORITHM */
.panellearn6 {
  background: url('BACKGROUNDS/panellearn6.png');
  background-size: cover;
  height: 650px;
  position: relative;
}

.char1 {
  background: url('BACKGROUNDS/char1.png');
  background-size: cover;
  height: 650px;
  position: relative;
}

.char2 {
  background: url('BACKGROUNDS/char2.png');
  background-size: cover;
  height: 650px;
  position: relative;
}

.char3 {
  background: url('BACKGROUNDS/char3.png');
  background-size: cover;
  height: 650px;
  position: relative;
}

.char4 {
  background: url('BACKGROUNDS/char4.png');
  background-size: cover;
  height: 650px;
  position: relative;
}


.char5 {
  background: url('BACKGROUNDS/char5.png');
  background-size: cover;
  height: 650px;
  position: relative;
}

.char6 {
  background: url('BACKGROUNDS/char6.png');
  background-size: cover;
  height: 650px;
  position: relative;
}



/* HOW TO DESIGN AN ALGORITHM */
.panellearn10 {
  background: url('BACKGROUNDS/panellearn10.png');
  background-size: cover;
  height: 800px;
  position: relative;
}

.da1 {
  background: url('BACKGROUNDS/da1.png');
  background-size: cover;
  height: 650px;
  position: relative;
}

.da21{
  background: url('BACKGROUNDS/da21.png');
  height: 800px; 
  background-position: center; 
  background-repeat: no-repeat; 
 background-size: cover;
}

.da22{
  background: url('BACKGROUNDS/da22.png') no-repeat center;
  height: 800px; 
  background-position: center; 
  background-repeat: no-repeat; 
 background-size: cover;
 position: relative;
}

.da23{
  background: url('BACKGROUNDS/da23.png');
  height: 800px; 
  background-position: center; 
  background-repeat: no-repeat; 
 background-size: cover;
}


.da3 {
  background: url('BACKGROUNDS/da3.png');
  background-size: cover;
  height: 650px;
  position: relative;
}


/* ABOUT */
.panelAbout {
  background: url('BACKGROUNDS/about.gif') no-repeat center; 
  background-size: cover;
  height: 800px;
  position: relative;
}


.panelAboutInfo {
  background: url('BACKGROUNDS/aboutInfo.png') no-repeat center; 
  background-size: cover;
  height: 800px;
  position: relative;
}


/* ABOUT */
.panelVideos {
  background: url('BACKGROUNDS/videospanel.png');
  height: 800px; 
  background-position: center; 
  background-repeat: no-repeat; 
 background-size: cover;
}


/* PANEL LEARN 7 */
.panelLearn71 {
  background: url('BACKGROUNDS/panelLEARN7 (1).png');
  height: 800px; 
  background-position: center; 
  background-repeat: no-repeat; 
 background-size: cover;
}

.panelLearn72 {
  background: url('BACKGROUNDS/panelLEARN7 (2).png');
  height: 800px; 
  background-position: center; 
  background-repeat: no-repeat; 
 background-size: cover;
 position: relative;
}

.panelLearn73 {
  background: url('BACKGROUNDS/panelLEARN7 (3).png');
  height: 800px; 
  background-position: center; 
  background-repeat: no-repeat; 
 background-size: cover;
 position: relative;
}


/* PANEL LEARN 7 */
.panelLearn81 {
  background: url('BACKGROUNDS/panelLEARN8 (1).png');
  height: 800px; 
  background-position: center; 
  background-repeat: no-repeat; 
 background-size: cover;
}

.panelLearn82 {
  background: url('BACKGROUNDS/panelLEARN8 (2).png');
  height: 800px; 
  background-position: center; 
  background-repeat: no-repeat; 
 background-size: cover;
}

.panelLearn83 {
  background: url('BACKGROUNDS/panelLEARN8 (3).png') no-repeat center;
  height: 800px; 
  background-position: center; 
  background-repeat: no-repeat; 
 background-size: cover;
 position: relative;
}


.panelLearn84 {
  background: url('BACKGROUNDS/panelLEARN8 (4).png') no-repeat center;;
  height: 800px; 
  background-position: center; 
  background-repeat: no-repeat; 
 background-size: cover;
 position: relative;
}

.panelLearn841 {
  background: url('BACKGROUNDS/panelLEARN8 (41).png') no-repeat center;;
  height: 800px; 
  background-position: center; 
  background-repeat: no-repeat; 
 background-size: cover;
 position: relative;
}

.panelLearn85 {
  background: url('BACKGROUNDS/panelLEARN8 (5).png') no-repeat center;;
  height: 800px; 
  background-position: center; 
  background-repeat: no-repeat; 
 background-size: cover;
 position: relative;
}

.panelLearn86 {
  background: url('BACKGROUNDS/panelLEARN8 (6).png') no-repeat center;;
  height: 800px; 
  background-position: center; 
  background-repeat: no-repeat; 
 background-size: cover;
 position: relative;
}



.panelLearn3 {
  background: url('BACKGROUNDS/panelLEARN3 (main).png') no-repeat center;;
  height: 800px; 
  background-position: center; 
  background-repeat: no-repeat; 
 background-size: cover;
 position: relative;
}
.panelLearn31 {
  background: url('BACKGROUNDS/panelLEARN3 (1).png') no-repeat center;;
  height: 800px; 
  background-position: center; 
  background-repeat: no-repeat; 
 background-size: cover;
 position: relative;
}
.panelLearn32 {
  background: url('BACKGROUNDS/panelLEARN3 (2).png') no-repeat center;;
  height: 800px; 
  background-position: center; 
  background-repeat: no-repeat; 
 background-size: cover;
 position: relative;
}
.panelLearn33 {
  background: url('BACKGROUNDS/panelLEARN3 (3).png') no-repeat center;;
  height: 800px; 
  background-position: center; 
  background-repeat: no-repeat; 
 background-size: cover;
 position: relative;
}
.panelLearn34 {
  background: url('BACKGROUNDS/panelLEARN3 (4).png') no-repeat center;;
  height: 800px; 
  background-position: center; 
  background-repeat: no-repeat; 
 background-size: cover;
 position: relative;
}







.panelLearn4main {
  background: url('BACKGROUNDS/panelLEARN4 (main).png') no-repeat center;;
  height: 800px; 
  background-position: center; 
  background-repeat: no-repeat; 
 background-size: cover;
 position: relative;
}

/*SIMPLE ALGORITHM*/
.panelLearn41 {
  background: url('BACKGROUNDS/panelLEARN4 (1).png') no-repeat center;;
  height: 800px; 
  background-position: center; 
  background-repeat: no-repeat; 
 background-size: cover;
 position: relative;
}

.panelLearn411 {
  background: url('BACKGROUNDS/panelLEARN41 (1).png') no-repeat center;;
  height: 800px; 
  background-position: center; 
  background-repeat: no-repeat; 
 background-size: cover;
 position: relative;
}

.panelLearn412 {
  background: url('BACKGROUNDS/panelLEARN41 (2).png') no-repeat center;;
  height: 800px; 
  background-position: center; 
  background-repeat: no-repeat; 
 background-size: cover;
 position: relative;
}


/*BACKTRACKING ALGORITHM*/
.panelLearn42 {
  background: url('BACKGROUNDS/panelLEARN4 (2).png') no-repeat center;;
  height: 800px; 
  background-position: center; 
  background-repeat: no-repeat; 
 background-size: cover;
 position: relative;
}

.panelLearn421 {
  background: url('BACKGROUNDS/panelLEARN42 (1).png') no-repeat center;;
  height: 800px; 
  background-position: center; 
  background-repeat: no-repeat; 
 background-size: cover;
 position: relative;
}



/*DIVIDE AND CONQUER ALGORITHM*/

.panelLearn43 {
  background: url('BACKGROUNDS/panelLEARN4 (3).png') no-repeat center;;
  height: 800px; 
  background-position: center; 
  background-repeat: no-repeat; 
 background-size: cover;
 position: relative;
}

.panelLearn431 {
  background: url('BACKGROUNDS/panelLEARN43 (1).png') no-repeat center;;
  height: 800px; 
  background-position: center; 
  background-repeat: no-repeat; 
 background-size: cover;
 position: relative;
}

/*DYNAMIN ALGORITHM*/

.panelLearn44 {
  background: url('BACKGROUNDS/panelLEARN4 (4).png') no-repeat center;;
  height: 800px; 
  background-position: center; 
  background-repeat: no-repeat; 
 background-size: cover;
 position: relative;
}

.panelLearn441 {
  background: url('BACKGROUNDS/panelLEARN44 (1).png') no-repeat center;;
  height: 800px; 
  background-position: center; 
  background-repeat: no-repeat; 
 background-size: cover;
 position: relative;
}



/*GREEDY ALGORITHM*/

.panelLearn45 {
  background: url('BACKGROUNDS/panelLEARN4 (5).png') no-repeat center;;
  height: 800px; 
  background-position: center; 
  background-repeat: no-repeat; 
 background-size: cover;
 position: relative;
}

.panelLearn451 {
  background: url('BACKGROUNDS/panelLEARN45 (1).png') no-repeat center;;
  height: 800px; 
  background-position: center; 
  background-repeat: no-repeat; 
 background-size: cover;
 position: relative;
}


/*BACKTRACKING ALGORITHM*/

.panelLearn46 {
  background: url('BACKGROUNDS/panelLEARN4 (6).png') no-repeat center;;
  height: 800px; 
  background-position: center; 
  background-repeat: no-repeat; 
 background-size: cover;
 position: relative;
}

.panelLearn461 {
  background: url('BACKGROUNDS/panelLEARN46 (1).png') no-repeat center;;
  height: 800px; 
  background-position: center; 
  background-repeat: no-repeat; 
 background-size: cover;
 position: relative;
}



/*BACKTRACKING ALGORITHM*/

.panelLearn47 {
  background: url('BACKGROUNDS/panelLEARN4 (7).png') no-repeat center;;
  height: 800px; 
  background-position: center; 
  background-repeat: no-repeat; 
 background-size: cover;
 position: relative;
}

.panelLearn471 {
  background: url('BACKGROUNDS/panelLEARN47 (1).png') no-repeat center;;
  height: 800px; 
  background-position: center; 
  background-repeat: no-repeat; 
 background-size: cover;
 position: relative;
}

.panelLearn472 {
  background: url('BACKGROUNDS/panelLEARN47 (2).png') no-repeat center;;
  height: 800px; 
  background-position: center; 
  background-repeat: no-repeat; 
 background-size: cover;
 position: relative;
}



/*BACKTRACKING ALGORITHM*/

.panelLearn48 {
  background: url('BACKGROUNDS/panelLEARN4 (8).png') no-repeat center;;
  height: 800px; 
  background-position: center; 
  background-repeat: no-repeat; 
 background-size: cover;
 position: relative;
}

.panelLearn481 {
  background: url('BACKGROUNDS/panelLEARN48 (1).png') no-repeat center;;
  height: 800px; 
  background-position: center; 
  background-repeat: no-repeat; 
 background-size: cover;
 position: relative;
}






.panelTrain2 {
  background: url('BACKGROUNDS/panelTrain2.png') no-repeat center; 
  background-size: cover;
  height: 800px;
  position: relative;
}

.panelTrain21 {
  background: url('BACKGROUNDS/panelTrain21.png') no-repeat center; 
  background-size: cover;
  height: 800px;
  position: relative;
}

.panelTrain23 {
  background: url('BACKGROUNDS/panelTrain2.gif') no-repeat center; 
  background-size: cover;
  height: 800px;
  position: relative;
}




.panelT {
  background: url('BACKGROUNDS/T.png') no-repeat center; 
  background-size: cover;
  height: 800px;
  position: relative;
}

.T1 {
  background: url('BACKGROUNDS/T1.png') no-repeat center; 
  background-size: cover;
  height: 800px;
  position: relative;
}

.T2 {
  background: url('BACKGROUNDS/T2.png') no-repeat center; 
  background-size: cover;
  height: 800px;
  position: relative;
}

.T3 {
  background: url('BACKGROUNDS/T3.png') no-repeat center; 
  background-size: cover;
  height: 800px;
  position: relative;
}

.T4 {
  background: url('BACKGROUNDS/T4.png') no-repeat center; 
  background-size: cover;
  height: 800px;
  position: relative;
}

.T5 {
  background: url('BACKGROUNDS/T5.png') no-repeat center; 
  background-size: cover;
  height: 800px;
  position: relative;
}

.T6 {
  background: url('BACKGROUNDS/T6.png') no-repeat center; 
  background-size: cover;
  height: 800px;
  position: relative;
}

.T11 {
  background: url('BACKGROUNDS/T11.png') no-repeat center; 
  background-size: cover;
  height: 800px;
  position: relative;
}

.T12 {
  background: url('BACKGROUNDS/T12.png') no-repeat center; 
  background-size: cover;
  height: 800px;
  position: relative;
}






